.bg {
  /*width:100%;*/
  height:900px;
  background: url('https://images.unsplash.com/photo-1438109491414-7198515b166b?q=80&fm=jpg&s=cbdabf7a79c087a0b060670a6d79726c');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}

.overlay {
	mix-blend-mode: soft-light;
	opacity: 0.6;
	filter: blur(2px);
}

.no-pad{
    padding-right:0;
    padding-left:0;
}

#hero-1 {
	background: #F6B6B6;
}

#hero-2 {
	background: #C2E5E1;
}

#hero-text-1 {
	position: absolute;
	left: 35px;
	top: 24vh;

	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 5.5em;
	letter-spacing: 0.03em;

	color: #FFFFFF;

	text-shadow: 4px 4px 2px rgba(0,0,0, 0.1);
}

#hero-text-2 {
	position: absolute;
	left: 35px;
	bottom: 10vh;

	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 5.5em;
	letter-spacing: 0.03em;

	color: #4682B4;

	text-shadow: 4px 4px 2px rgba(0,0,0, 0.1);
}


.logo {
	position: absolute;
	width: 139px;
	height: 144px;
	left: 5px;
	top: 5px;
}

.vignette-1 {
	position: absolute;
	height: 100%;
	width: 100%;
	background: radial-gradient(358.00px at 69.38% 50%, rgba(196, 196, 196, 0) 0%, rgba(0, 0, 0, 0.1848) 100%);
}

.vignette-2 {
	position: absolute;
	height: 100%;
	width: 100%;
	background: radial-gradient(358.00px at 24.27% 50%, rgba(196, 196, 196, 0) 0%, rgba(0, 0, 0, 0.2002) 100%);
}

#nick {
	right: 100px;
	position: absolute;
	height: 100%;
}